{% extends "base.html.twig" %}

{% block body %}

    <h1>Hello From Quebec</h1>

    <p>Il est {{ 'now'|date('h:i A') }}.</p>
<footer>
    <p>&copy; Copyright {{ 'now'|date('Y') }} &middot; 
        <a href="#">About Us</a>
    </p>
</footer>
{% endblock %}

